/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#letters div {
  width: 40px;
  margin: 0 5px 5px 0;
  padding: 0.25em 0;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  color: #fff;
  background-color: #006;
  float: left;
}

#level div{
  width: 200px;
  margin: 0 5px 5px 0;
  padding: 0.25em 0;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  color: #fff;
  background-color: #006;
}


#letters {
  width: 300px;
}


#word {
  font-weight: bold;
  font-size: 150%;
  letter-spacing: 0.25em;
  margin: 0.25em 0 0.4em 30px;
}


.hangman {
  clear: both;
  width: 100px;
  height: 100px;

}
.hangman.step0 {
  background-image: url('../img/hang0.gif');
}
.hangman.step1 {
  background-image: url('../img/hang1.gif');
}
.hangman.step2 {
  background-image: url('../img/hang2.gif');
}
.hangman.step3 {
  background-image: url('../img/hang3.gif');
}
.hangman.step4 {
  background-image: url('../img/hang4.gif');
}
.hangman.step4 {
  background-image: url('../img/hang4.gif');
}
.hangman.step5 {
  background-image: url('../img/hang5.gif');
}
.hangman.step6 {
  background-image: url('../img/hang6.gif');
}
.hangman.step7 {
  background-image: url('../img/hang7.gif');
}
.hangman.step8 {
  background-image: url('../img/hang8.gif');
}
.hangman.step9 {
  background-image: url('../img/hang9.gif');
}
.hangman.step10 {
  background-image: url('../img/hang10.gif');
}
